/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body, #root, .App {
    height: 100%;
    min-height: 100%;
}

.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.logo-container {
    border: 1px solid #444;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
}

.App-logo {
    top: -5px;
    left: -7px;
    width: 102px;
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.App-logo:hover {
    transform: scale(1, 1);
}

.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
    margin: 30px 0 20px 0;
    font-weight: 600;
}

.App-header .typer-wrapper {
    display: flex;
    justify-content: center;
}

.typer-wrapper .typer {
    line-height: 18px;
}

.App-header .App-subtitle {
    animation:
            typing 3s steps(30, end),
            blink-caret 0.5s step-end infinite;
    border-right: 3px solid orange;
    color: #ccc;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto;
    overflow: hidden;
    padding: 2px 1px 0;
    white-space: nowrap;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

.App-header:hover .App-subtitle {
    color: #fff;
}

.App .App-nav {
    margin-top: 30px;
    margin-bottom: 60px;
}

.App-nav ul li {
    display: inline-block;
    height: 50px;
    width: 160px;
}

.App-nav li a {
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
    line-height: 50px;
    position: relative;
    text-decoration: none;
}

.App-nav li a:after {
    background: #222222;
    content: '';
    display: block;
    height: 2px;
    width: 0;
    text-align: center;
    transition: width 0.4s ease-in-out;
}

.App-nav li a:hover:after {
    width: 100%;
}

.App a:focus {
    outline: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 100px;
    text-align: left;
}

.container p {
    font-size: 16px;
    line-height: 28px;
    padding: 0 20px 25px;
}

h3.hr {
    font-size: 18px;
    height: 100%;
    border-bottom: 1px solid #ccc;
    line-height: 0;
    margin: 40px 20px;
    text-align: center;
}

span.hr {
    color: #727272;
    background: #ffffff;
    padding: 0 15px;
    font-weight: 600;
}

.social {
    padding: 0 10px;
}

.social ul.social-horizontal {
    display: flex;
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social ul.social-horizontal li {
    display: inline-block;
}

.fa {
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    /*margin: 0 10px;*/
    padding: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.fa:hover {
    opacity: 0.7;
}

.fa-envelope {
    background: #888888;
    color: #fff;
}

.fa-twitter {
    background: #55ACEE;
    color: #fff;
}

.fa-google {
    background: #dd4b39;
    color: #fff;
}

.fa-linkedin {
    background: #007bb5;
    color: #fff;
}

.fa-github {
    background: #24292e;
    color: #fff;
}

.App-footer {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    background: #e2e2e2;
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    clear: both;
}

.App-footer .container {
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.App-footer .container a {
    display: inline-block;
}

@media screen and (max-width: 500px) {
    .App-nav ul li {
        height: 30px;
        width: 100px;
    }

    .App-nav li a {
        font-size: 22px;
        line-height: 30px;
    }

    h3.hr {
        font-size: 16px;
        margin: 40px 10px;
    }

    .container p {
        font-size: 15px;
        line-height: 24px;
        padding: 0 10px 25px;
    }
}

@media screen and (max-width: 330px) {
    .App-nav ul li {
        display: inline-block;
        width: 100%;
    }

    .App-nav li a {
        font-size: 18px;
        line-height: 20px;
    }
}

/*@keyframes App-logo-spin {*/
    /*from { transform: rotate(0deg); }*/
    /*to { transform: rotate(360deg); }*/
/*}*/
